@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 100%;
    color: #093959;
  }

  body {
    background-color: #edf3f8;
  }

  /* Blur-Effect */
  .blur {
    background: rgba(168, 251, 1, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  /* Clip-Path */
  .clip-path {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  .overlay {
    background: url("./assets/overlay.png");
    background-size: cover;
    background-position: bottom;
    height: 100vw;
    width: 100vw;
  }

  .underline-gradient {
   background: linear-gradient(94deg, rgba(9,57,89,1) 0%, rgba(183,226,247,1) 100%);

    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
  }

  .underline-gradient:hover  {
    background-size: 100% 3px;
  }

}
