@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 100%;
    color: #093959;
  }

  body {
    background-color: #edf3f8;
  }
  html {
    scroll-behavior: smooth;
  }
  /* Blur-Effect */
  .blur {
    background: rgba(168, 251, 1, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  /* Blur-Gray-Effect */
  .blur-gray {
    background: rgba(237, 243, 248, 1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  /* Sox-Shadow-Effect */
  .box-shadow {
    box-shadow: 2px 2px 10px 1px rgba(237, 243, 248, 0.35);
  }

  /* Clip-Path */
  .clip-path {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  .overlay {
    background: url("./assets/overlay.png");
    background-size: cover;
    background-position: bottom;
    height: 100vw;
    width: 100vw;
   z-index: 3;
  }

  .underline-gradient {
    background: linear-gradient(
      94deg,
      rgba(9, 57, 89, 1) 0%,
      rgba(183, 226, 247, 1) 100%
    );

    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
  }

  .underline-gradient:hover {
    background-size: 100% 3px;
  }

  /**NavLink active class*/
  .active {
    background: linear-gradient(
      94deg,
      rgba(9, 57, 89, 1) 0%,
      rgba(183, 226, 247, 1) 100%
    );

    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  /**loader for Items Page*/
  .loader {
    position: relative;
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    border: 1px solid rgb(183, 226, 247, 0.5);
    padding: 15px;
    background-color: rgb(183, 226, 247, 0.5);
    overflow: hidden;
  }

  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      110deg,
      rgba(227, 227, 227, 0) 0%,
      rgba(227, 227, 227, 0) 40%,
      rgba(227, 227, 227, 0.5) 50%,
      rgba(227, 227, 227, 0) 60%,
      rgba(227, 227, 227, 0) 100%
    );
    animation: gradient-animation_2 1.2s linear infinite;
  }

  .loader .loaderwrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .loader .loaderwrapper > div {
    background-color: rgb(9, 57, 89, 0.5);
  }

  .loader .lcircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .loader .button {
    display: inline-block;
    height: 32px;
    width: 75px;
  }

  .loader .line-1 {
    position: absolute;
    top: 11px;
    left: 58px;
    height: 10px;
    width: 100px;
  }

  .loader .line-2 {
    position: absolute;
    top: 34px;
    left: 58px;
    height: 10px;
    width: 150px;
  }

  .loader .line-3 {
    position: absolute;
    top: 57px;
    left: 0px;
    height: 10px;
    width: 100%;
  }

  .loader .line-4 {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 10px;
    width: 92%;
  }

  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  /**Loading*/

  .Loadingwrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }

  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #093959;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 0.5s alternate infinite ease;
  }

  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }

    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }

    100% {
      top: 0%;
    }
  }

  .circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: #b7e2f7;
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 0.5s alternate infinite ease;
  }

  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }

    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }

    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  /**Search Input*/

  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 200px;
  }

  .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #d9e8d8;
    color: #093959;
    box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
    transition: 0.3s ease;
  }

  .input::placeholder {
    color: #777;
  }

  .icon {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
  }

  .f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    gap: 20px;
  }

  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cartItemCol {
    display: flex;
    flex-direction: column;
  }

  /* Flip Horizontally */
  .flip {
    transform: rotateY(180deg);
  }

  /** Custom checkbox */
  /* Hide the default checkbox */
  .labelcontainer input {
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  .labelcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: rgba(197, 197, 197, 0.527);
  }

  .labelcontainer:hover {
    background: #b7e2f7;
  }

  .line {
    width: calc(100% - 8px);
    height: 3px;
    left: 4px;
    background: #093959;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.7s transform cubic-bezier(0, 1, 0.33, 1.2), background 0.4s;
  }

  .line-indicator {
    transform: translateY(-50%) rotate(90deg);
  }

  .labelcontainer input:checked ~ .line-indicator {
    transform: translateY(-50%);
  }

  /** Checkout Radio Button */

  .rowwrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .rowwrapper .option {
    background: rgba(197, 197, 197, 0.527);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  input#online:checked ~ .option-1,
  input#cash:checked ~ .option-2 {
    background: #093959;
  }
  input#online:hover ~ .option-1,
  input#cash:hover ~ .option-2 {
    background: #b7e2f7;
  }

  input#online:checked ~ .option-1 span,
  input#cash:checked ~ .option-2 span {
    color: #edf3f8;
  }

  /** Filter Radio Button*/
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: space-evenly;
    width: fit-content;
  }
  .wrapper .option {
    background: rgba(197, 197, 197, 0.527);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  input[type="radio"] {
    display: none;
  }
  input#lth:checked ~ .option-1,
  input#htl:checked ~ .option-2 {
    background: #093959;
  }
  input#lth:hover ~ .option-1,
  input#htl:hover ~ .option-2 {
    background: #b7e2f7;
  }

  input#lth:checked ~ .option-1 span,
  input#htl:checked ~ .option-2 span {
    color: #edf3f8;
  }

  /**backicon*/
  .cssbuttons-io-button {
    background: #093959;
    color: #edf3f8;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #093959;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }

  .cssbuttons-io-button .backicon {
    background: #edf3f8;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #093959;
    right: 0.3em;
    transition: all 0.3s;
  }

  .cssbuttons-io-button:hover .backicon {
    width: calc(100% - 0.6em);
  }

  .cssbuttons-io-button .backicon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #093959;
  }

  .cssbuttons-io-button:hover .backicon svg {
    transform: translateX(0.1em);
  }

  .cssbuttons-io-button:active .backicon {
    transform: scale(0.95);
  }

  /* Scroll */
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }

  .hfull {
    height: 100%;
  }

  /** checkout button*/

  .c-button {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    padding: 0.6em 1.6em;

    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }

  .c-button--gooey {
    color: #093959;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #093959;
    border-radius: 0px;
    position: relative;
    transition: all 700ms ease;
  }

  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }

  .c-button--gooey .c-button__blobs div {
    background-color: #093959;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }

  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }

  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }

  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }

  .c-button--gooey:hover {
    color: #edf3f8;
  }

  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }

  /**herobutton*/

  .herobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #747474;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: #edf3f8;
    border-radius: 5px;
    border: 2px solid #093959;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .herobutton:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }

  .herobutton img {
    transition: all 0.5s ease;
    z-index: 2;
  }

  .Add {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }

  .herobutton:hover img {
    transform: scale(2) translate(50%);
  }

  .ToCart {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }

  .herobutton:hover .ToCart {
    transform: translateX(10px);
    transition-delay: 300ms;
  }

  .herobutton:hover .Add {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
}
